[submodule "ql/QuantLib"]
	path = external/QuantLib
	url = https://github.com/lballabio/QuantLib.git
[submodule "ql/QuantLib-SWIG"]
	path = external/QuantLib-SWIG
	url = https://github.com/lballabio/QuantLib-SWIG.git
